.task-with-variants {
  display: grid;


  .task-with-variants__item {
    margin-bottom: 16px;
  }

  .task-with-variants__label {
    font-size: 24px;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 1.2em;

    width: 100%;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    padding: 25px;
    cursor: pointer;

    transition: all .3s ease;

    &:hover {
      border-color: #FFDD00;
    }

    &:last-child {
      margin: 0;
    }
  }

  .task-with-variants__label:focus-within {
    color: var(--form-control-color);
  }

  input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--form-background);
    margin: 0;

    color: #000;
    width: 1.15em;
    height: 1.15em;
    border: 2px solid #C2C2C2;
    border-radius: 50%;
    transform: translateY(-0.075em);

    align-self: end;

    display: grid;
    place-content: center;
  }

  input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--task-with-variants__label-color);
    /* Windows High Contrast Mode */
    background-color: #000;
  }

  input[type="radio"]:checked {
    border: 3px solid #000;
  }

  input[type="radio"]:checked::before {
    transform: scale(1);
  }

  input[type=radio]:checked + .task-with-variants__label {
    background: #ffc5c5;
  }

}