.auth {
  width: 528px;
  padding: 35px 48px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  border-radius: 10px;

  .auth__header {
    margin-bottom: 28px;
    width: 90%;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }

  .auth__comment {
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #939393;
  }

  .auth__input {
    width: 100%;
    margin-bottom: 18px;

    * {
      color: #939393;
      font-size: 14px;
      line-height: 22px;
    }
  }

  .auth__submit {
    margin-top: 8px;
    padding: 18px 45px;
    font-weight: 600;
    line-height: 22px;
    text-transform: none;

    &:hover {
      background: #FFDD00;
    }
  }
}