.auth {
  width: 528px;
  padding: 35px 48px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-self: center;
  border-radius: 10px;

  .auth__header {
    margin-bottom: 34px;
    padding: 0 5%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }

  .auth__comment {
    margin-bottom: 28px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #939393;
  }

  .auth__input {
    margin-bottom: 28px;

    * {
      color: #939393;

      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
    }
  }

  .auth__submit {
    align-self: center;
    margin-top: 8px;
    padding: 18px 45px;
    color: #000000;
    background: #FFED00;
    border-radius: 4px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
}